// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  background: #F8F9FA;
}

.link {
  background: white;
}

.flat {
  box-shadow: 10px 10px grey;
  height: 300px;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 0px;
}
